[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vimwiki.git"]
	path = bundle/vimwiki.git
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/ddLaTeX-Box.g"]
	path = bundle/ddLaTeX-Box.g
	url = git@github.com:tdi/ddLaTeX-Box.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/python-mode.git"]
	path = bundle/python-mode.git
	url = git://github.com/klen/python-mode.git
[submodule "bundle/supertab.git"]
	path = bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar.git"]
	path = bundle/tagbar.git
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/minibufexplorer.git"]
	path = bundle/minibufexplorer.git
	url = git://github.com/fholgado/minibufexpl.vim.git
