[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/minibufexplorer"]
	path = bundle/minibufexplorer
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/prolog.git"]
	path = bundle/prolog.git
	url = git://github.com/adimit/prolog.vim.git
[submodule "bundle/minibufexpl.git"]
	path = bundle/minibufexpl.git
	url = git://github.com/fholgado/minibufexpl.vim.git
